#root {
  padding-bottom: 4rem;
}

.btn {
  align-items: center;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

.btn-light {
  border-color: var(--bs-btn-hover-border-color);
}

.input-group.vertical {
  flex-direction: column;
}

.input-group.vertical .form-control[type="number"] {
  -moz-appearance: textfield;
}

.input-group.vertical > * {
  background-color: #fff;
  margin: -1px 0 0 0 !important;
  text-align: center;
  width: 100%;
}

.input-group.vertical > :first-child {
  border-bottom-color: #eee;
  border-radius: 6px 6px 0 0 !important;
}

.input-group.vertical > :last-child {
  border-radius: 0 0 6px 6px !important;
  border-top-color: #eee;
}

.list-group-item {
  padding: 0;
}

.nav-link {
  align-items: center;
  color: #000;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
}

.nav-link.active {
  color: #f00;
}

.pin-icon {
  cursor: pointer;
  padding: 0.5rem 0.5rem 0.5rem 0;
  user-select: none;
}

.preset-buttons {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(6, 1fr);
}

.text-small {
  font-size: 0.75rem;
}
