:root {
  --bs-body-font-family: "Inter", system-ui, sans-serif;
}

body {
  user-select: none;
}

h1 {
  color: var(--bs-secondary);
  font-weight: 300;
}

.badge {
  background: var(--bs-light);
  border: 1px solid var(--bs-light);
  color: var(--bs-secondary);
}

.badge.success {
  border-color: var(--bs-success);
  color: var(--bs-success);
}

.btn {
  align-items: center;
  display: flex;
  gap: 0.25rem;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

.btn-light {
  border-color: var(--bs-btn-hover-border-color);
}

.form-check-input:checked {
  background-color: var(--bs-success);
  border-color: var(--bs-success);
}

.form-switch .form-check-input {
  height: 1.5rem;
}

.form-switch .form-check-label {
  padding-top: 0.25rem;
}

.list-group-item {
  padding: 0;
}

.nav-link {
  align-items: center;
  color: #000;
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  padding-left: 0;
  padding-right: 0;
}

.nav-link {
  color: var(--bs-secondary);
}

.nav-link.active {
  color: var(--bs-green);
  font-weight: 500;
}

.network-indicator {
  position: fixed;
  right: 0.25rem;
  top: 0.25rem;
  z-index: 100;
}

.pin-icon {
  cursor: pointer;
  padding: 0.5rem 0.5rem 0.5rem 0;
  user-select: none;
}

.production-table td,
.production-table th {
  font-variant-numeric: tabular-nums;
  font-weight: normal;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.production-table td:nth-child(n + 2),
.production-table th:nth-child(n + 2) {
  text-align: right;
}

.refresh-button {
  border-radius: 1.5rem;
  bottom: 5rem;
  height: 3rem;
  position: fixed;
  right: 1rem;
  width: 3rem;
  z-index: 100;
}

.rotate {
  animation: 2s linear infinite spinner-border;
}

.text-small {
  font-size: 0.75rem;
}

#root {
  padding-bottom: 4rem;
}
