<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      crossorigin
      href="https://unpkg.com/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- {# Replace react.production.min.js with react.development.js for debugging #} -->
    <script
      crossorigin
      src="https://unpkg.com/react@18.2.0/umd/react.production.min.js"
    ></script>
    <script
      crossorigin
      src="https://unpkg.com/react-dom@18.2.0/umd/react-dom.production.min.js"
    ></script>
    <style>
      {% include "index.css" %}
    </style>
  </head>
  <body>
    <div class="container-fluid m-0 p-0" id="root"></div>
    <script type="text/javascript">
      {% include "index.js" %}
    </script>
  </body>
</html>
