<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container m-0 p-0">
      <ul class="list-group list-group-flush" id="state"></ul>
    </div>

    <script type="text/javascript">
      const stateList = document.getElementById("state");

      function c(tag, options) {
        const element = document.createElement(tag);
        for (const key in options) {
          element[key] = options[key];
        }
        return element;
      }

      function appendListItem([key, value]) {
        stateList.appendChild(
          c("li", {
            className: "list-group-item",
            textContent: `${key} : ${value}`,
          }),
        );
      }

      fetch("/api/state/")
        .then((response) => response.json())
        .then((json) => Object.entries(json).sort().forEach(appendListItem));
    </script>
  </body>
</html>
