.btn-light {
  border-color: var(--bs-btn-hover-border-color);
}

.pin-icon {
  cursor: pointer;
  user-select: none;
}

.time-buttons {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(5, 1fr);
}
